<header id="header">
  <div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="#">
                    <img src="assets/images/logo.png" alt="Wepass condomínios">
                </a>
            </div>
            <div class="col-2 col-lg-10 text-right">
                <nav id="menu">
                    <a href="#" class="goToBeneficios">Benefícios</a>
                    <a href="#" class="goToSaibaMais">Saiba mais</a>
                    <a href="#" class="goToOrcamento">Solicite um Orçamento</a>
                    <a href="#" class="goToAdministrativo">Administrativo</a>
                    <a href="#" class="goToMorador">Morador</a>
                </nav>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div>
        </div>
      </div>
  </div>
</header>
<div class="header-top"></div>

<router-outlet />

<section id="banner">
    <img src="assets/images/banner.jpg" alt="">
</section>

<div class="bootstrap-wrapper">
<section id="sobre" class="container">
    <div class="row">
        <div class="sobre-video col-12 col-lg-5 col-xl-4">
            <img src="assets/images/video.png" alt="">
            <div class="txt">
                Fácil, rápido e inteligente

                <div class="img">
                    <svg width="103" height="49" viewBox="0 0 103 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_4302_16)">
                            <path d="M78.9681 0.570068H24.5142C11.4092 0.570068 0.7854 11.1956 0.7854 24.3029C0.7854 37.4101 11.4092 48.0357 24.5142 48.0357H78.9681C92.0731 48.0357 102.697 37.4101 102.697 24.3029C102.697 11.1956 92.0731 0.570068 78.9681 0.570068Z" fill="#FFFB00"/>
                            <path d="M78.5228 4.85913C67.7846 4.85913 59.0818 13.5644 59.0818 24.3056C59.0818 35.0467 67.7846 43.752 78.5228 43.752C89.2609 43.752 97.9638 35.0467 97.9638 24.3056C97.9638 13.5644 89.2609 4.85913 78.5228 4.85913Z" fill="black"/>
                            <path d="M68.3093 24.3055H88.7414" stroke="white" stroke-width="4.59" stroke-miterlimit="10"/>
                            <path d="M81.3901 17.2332L88.7415 24.3055L81.3901 31.3726" stroke="white" stroke-width="4.59" stroke-linejoin="bevel"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_4302_16">
                                <rect width="101.911" height="47.4656" fill="white" transform="translate(0.7854 0.570068)"/>
                            </clipPath>
                        </defs>
                    </svg>   
                </div>                 
            </div>
        </div>
        <div class="col-12 col-lg-7 col-xl-8">
            <div class="box-sobre">
                <p>
                    Agilidade para a portaria, autonomia para os moradores, facilidade para o síndico e segurança para todos. 
                    Wepass Condomínios é o sistema de permissões de entradas e saídas que torna a rotina de condomínios horizontais mais tranquila 
                    e fácil.
                </p><br>
                <p><strong>Sistema integrado com as principais marcas do mercado!</strong></p>
            </div>
            <div class="btn-contato">
                <a href="#" class="goToOrcamento">Fale com a gente</a>
            </div>
        </div>
    </div>
</section>
</div>

<section id="chamada">
  <div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="img col-6">
                <img src="assets/images/img.png" alt="">
            </div>
            <div class="info col-12 col-md-6">
                <p class="mb-3">
                    Enquanto outros sistemas se<br>
                    preocupam com métodos tradicionais,
                </p>
                <span>Nós focamos em</span>
                <span>identificar você,</span>
                <span>a pessoa por trás</span>
                <span>da chave.</span>
                <div class="destaque">
                    é só 
                    <svg width="103" height="49" viewBox="0 0 103 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_4302_16)">
                            <path d="M78.9681 0.570068H24.5142C11.4092 0.570068 0.7854 11.1956 0.7854 24.3029C0.7854 37.4101 11.4092 48.0357 24.5142 48.0357H78.9681C92.0731 48.0357 102.697 37.4101 102.697 24.3029C102.697 11.1956 92.0731 0.570068 78.9681 0.570068Z" fill="black"/>
                            <path d="M78.5228 4.85913C67.7846 4.85913 59.0818 13.5644 59.0818 24.3056C59.0818 35.0467 67.7846 43.752 78.5228 43.752C89.2609 43.752 97.9638 35.0467 97.9638 24.3056C97.9638 13.5644 89.2609 4.85913 78.5228 4.85913Z" fill="white"/>
                            <path d="M68.3093 24.3055H88.7414" stroke="black" stroke-width="4.59" stroke-miterlimit="10"/>
                            <path d="M81.3901 17.2332L88.7415 24.3055L81.3901 31.3726" stroke="black" stroke-width="4.59" stroke-linejoin="bevel"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_4302_16">
                                <rect width="101.911" height="47.4656" fill="black" transform="translate(0.7854 0.570068)"/>
                            </clipPath>
                        </defs>
                    </svg> 
                    passar
                </div>
                <p>
                    O sistema que agiliza a entrada e<br>
                    saída de moradores e visitantes
                </p>
            </div>
        </div>
    </div>
  </div>
</section>
<div id="bg-chamada"></div>

<section id="beneficios">
  <div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <h2><span>Benefícios</span></h2>
            </div>
            <div class="tit-detalhe col-2 text-right">
                <svg width="103" height="49" viewBox="0 0 103 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_4302_16)">
                        <path d="M78.9681 0.570068H24.5142C11.4092 0.570068 0.7854 11.1956 0.7854 24.3029C0.7854 37.4101 11.4092 48.0357 24.5142 48.0357H78.9681C92.0731 48.0357 102.697 37.4101 102.697 24.3029C102.697 11.1956 92.0731 0.570068 78.9681 0.570068Z" fill="#00FFDA"/>
                        <path d="M78.5228 4.85913C67.7846 4.85913 59.0818 13.5644 59.0818 24.3056C59.0818 35.0467 67.7846 43.752 78.5228 43.752C89.2609 43.752 97.9638 35.0467 97.9638 24.3056C97.9638 13.5644 89.2609 4.85913 78.5228 4.85913Z" fill="black"/>
                        <path d="M68.3093 24.3055H88.7414" stroke="white" stroke-width="4.59" stroke-miterlimit="10"/>
                        <path d="M81.3901 17.2332L88.7415 24.3055L81.3901 31.3726" stroke="white" stroke-width="4.59" stroke-linejoin="bevel"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_4302_16">
                            <rect width="101.911" height="47.4656" fill="white" transform="translate(0.7854 0.570068)"/>
                        </clipPath>
                    </defs>
                </svg> 
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="chamada-beneficios">
                    <div class="img">
                        <img src="assets/images/img-moradores.png" alt="">
                    </div>
                    <div class="descricao">
                        <h3>
                            <span>Moradores</span>
                            <svg width="103" height="49" viewBox="0 0 103 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_4302_16)">
                                    <path d="M78.9681 0.570068H24.5142C11.4092 0.570068 0.7854 11.1956 0.7854 24.3029C0.7854 37.4101 11.4092 48.0357 24.5142 48.0357H78.9681C92.0731 48.0357 102.697 37.4101 102.697 24.3029C102.697 11.1956 92.0731 0.570068 78.9681 0.570068Z" fill="#FFFB00"/>
                                    <path d="M78.5228 4.85913C67.7846 4.85913 59.0818 13.5644 59.0818 24.3056C59.0818 35.0467 67.7846 43.752 78.5228 43.752C89.2609 43.752 97.9638 35.0467 97.9638 24.3056C97.9638 13.5644 89.2609 4.85913 78.5228 4.85913Z" fill="black"/>
                                    <path d="M68.3093 24.3055H88.7414" stroke="white" stroke-width="4.59" stroke-miterlimit="10"/>
                                    <path d="M81.3901 17.2332L88.7415 24.3055L81.3901 31.3726" stroke="white" stroke-width="4.59" stroke-linejoin="bevel"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_4302_16">
                                        <rect width="101.911" height="47.4656" fill="white" transform="translate(0.7854 0.570068)"/>
                                    </clipPath>
                                </defs>
                            </svg> 
                        </h3>
                        <p>Moradores têm duas chaves de acesso, a leitura facial ou QR Code. O morador pode cadastrar novas chaves temporárias para amigos, familiares, delivery e prestadores de serviços. Além disso, o app mantém o histórico de todas as entradas e saídas com destino à sua residência.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="chamada-beneficios">
                    <div class="img">
                        <img src="assets/images/img-sindicos.png" alt="">
                    </div>
                    <div class="descricao">
                        <h3>
                            <span>Síndicos</span>
                            <svg width="103" height="49" viewBox="0 0 103 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_4302_16)">
                                    <path d="M78.9681 0.570068H24.5142C11.4092 0.570068 0.7854 11.1956 0.7854 24.3029C0.7854 37.4101 11.4092 48.0357 24.5142 48.0357H78.9681C92.0731 48.0357 102.697 37.4101 102.697 24.3029C102.697 11.1956 92.0731 0.570068 78.9681 0.570068Z" fill="#FFFB00"/>
                                    <path d="M78.5228 4.85913C67.7846 4.85913 59.0818 13.5644 59.0818 24.3056C59.0818 35.0467 67.7846 43.752 78.5228 43.752C89.2609 43.752 97.9638 35.0467 97.9638 24.3056C97.9638 13.5644 89.2609 4.85913 78.5228 4.85913Z" fill="black"/>
                                    <path d="M68.3093 24.3055H88.7414" stroke="white" stroke-width="4.59" stroke-miterlimit="10"/>
                                    <path d="M81.3901 17.2332L88.7415 24.3055L81.3901 31.3726" stroke="white" stroke-width="4.59" stroke-linejoin="bevel"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_4302_16">
                                        <rect width="101.911" height="47.4656" fill="white" transform="translate(0.7854 0.570068)"/>
                                    </clipPath>
                                </defs>
                            </svg> 
                        </h3>
                        <p>O síndico acessa o sistema via smartphone a qualquer momento e em qualquer lugar. No painel administrativo, ele acessa banco de dados sobre inquilinos, proprietários e funcionários. Além da integração com equipamentos como catracas, cancelas e leitores faciais ou de QR code.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="chamada-beneficios">
                    <div class="img">
                        <img src="assets/images/img-porteiros.png" alt="">
                    </div>
                    <div class="descricao">
                        <h3>
                            <span>Porteiros</span>
                            <svg width="103" height="49" viewBox="0 0 103 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_4302_16)">
                                    <path d="M78.9681 0.570068H24.5142C11.4092 0.570068 0.7854 11.1956 0.7854 24.3029C0.7854 37.4101 11.4092 48.0357 24.5142 48.0357H78.9681C92.0731 48.0357 102.697 37.4101 102.697 24.3029C102.697 11.1956 92.0731 0.570068 78.9681 0.570068Z" fill="#FFFB00"/>
                                    <path d="M78.5228 4.85913C67.7846 4.85913 59.0818 13.5644 59.0818 24.3056C59.0818 35.0467 67.7846 43.752 78.5228 43.752C89.2609 43.752 97.9638 35.0467 97.9638 24.3056C97.9638 13.5644 89.2609 4.85913 78.5228 4.85913Z" fill="black"/>
                                    <path d="M68.3093 24.3055H88.7414" stroke="white" stroke-width="4.59" stroke-miterlimit="10"/>
                                    <path d="M81.3901 17.2332L88.7415 24.3055L81.3901 31.3726" stroke="white" stroke-width="4.59" stroke-linejoin="bevel"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_4302_16">
                                        <rect width="101.911" height="47.4656" fill="white" transform="translate(0.7854 0.570068)"/>
                                    </clipPath>
                                </defs>
                            </svg> 
                        </h3>
                        <p>Pessoas já cadastradas são identificadas e liberadas automaticamente, agilizando a portaria. O porteiro tem acesso ao painel administrativo para manter um controle mais facilitado sobre quem entra e sai do condomínio.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg1"></div>
    <div class="bg2"></div>
  </div>
</section>
<div id="beneficios-detalhe"></div>

<section id="contato">
    <div class="bg-contato">
      <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="formulario">
                        <form id="frmContato" name="">
                            <div>
                                <label for="iNome">Nome</label>
                                <input type="text" name="iNome" id="iNome" required>
                            </div>
                            <div>
                                <label for="iWhatsapp">Whatsapp</label>
                                <input type="text" name="iWhatsapp" id="iWhatsapp" class="phone" required>
                            </div>
                            <div>
                                <label for="iEmail">E-mail</label>
                                <input type="email" name="iEmail" id="iEmail" required>
                            </div>
                            <div>
                                <label for="iCidade">Cidade</label>
                                <input type="text" name="iCidade" id="iCidade" required>
                            </div>
                            <div>
                                <label for="iCondominio">Condomínio</label>
                                <input type="text" name="iCondominio" id="iCondominio" required>
                            </div>
                            <div>
                                <label for="iLotes">Número de Lotes</label>
                                <input type="number" name="iLotes" id="iLotes" required>
                            </div>
                            <div>
                                <label for="tObs">Observações</label>
                                <textarea name="tObs" id="tObs"></textarea>
                            </div>
                            <div class="acao">
                                <button class="img-button" type="submit">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>

<div class="bootstrap-wrapper">
<section id="clientes" class="container">
    <div class="row">
        <div class="col">
            <h2>Clientes que <span>usam Wepass</span></h2>

            <div class="lista">
                <img src="assets/images/logo-wepass-gray.png" alt="">
                <img src="assets/images/logo-wepass-gray.png" alt="">
                <img src="assets/images/logo-wepass-gray.png" alt="">
                <img src="assets/images/logo-wepass-gray.png" alt="">
            </div>
        </div>
    </div>
</section>
</div>

<footer id="footer">
  <div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="redes-sociais col-5 col-md-3">           
                <a href="#">
                    <img src="assets/images/instagram.png" alt="">
                </a>
                <a href="#">
                    <img src="assets/images/facebook.png" alt="">
                </a>
            </div>
            <div class="logo col-md-4 col-lg-6">
                <img src="assets/images/logo.png" alt="Wepass condomínios">
            </div>
            <div class="endereco col-7 col-md-5 col-lg-3">
                <p>Endereço, número</p>
                <p>Endereço - CEP 0000-000</p>
                <p>Presidente Prudente - SP</p>
            </div>
        </div>
    </div>
  </div>
</footer>